@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Caladea', serif;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.menu ul li {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: cursive;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.5s; 
}


.menu ul {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 15px;
    position: absolute;
    top: 30px;
    border-radius: 14px;
    box-shadow: 5px 5px 22px;
}

.menu ul li a:hover {
    color: #8DC26F;
    font-size: 25px;
}

.text {
    margin-top: 45px;
    height: 300px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

p {
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: cursive;
}

button {
    left: 630px;
    position: absolute;
    top: 475px;
    background-color: white;
    width: 118px;
    outline: none;
    height: 35px;
    border: 2px solid black;
    border-radius: 14px;
    font-family: cursive;
    transition: 0.6s;
    left: 627px;
}

button:hover {
    font-size: 15px;
    color: white;
    border: 2px solid white;
    background-color: #8DC26F;
    margin-top: 10px;
    cursor: pointer;
}

img {
    width: 50px;
    position: absolute;
    top: 365px;
    left: 659px;
    border-radius: 50%;
    box-shadow: 7px 7px 30px;
    transition: 0.5s;
    margin-top: 0px;
    margin-left: 0px;
}
img:hover {
    width: 55px;
}